html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgba(0, 60, 255, 0.623);
  font-family: "Press Start 2P", cursive;
  position: relative;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
.none {
  display: none;
}
img:active,
button:active {
  outline: none;
  border: none;
}
.box-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 80px;
}

.pokemon__figure {
  border-radius: 20px;
}
.pokemon__figure {
  width: 350px;
  height: 580px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 0px 15px 2px rgba(0, 0, 0, 0.37);
  background-color: rgba(0, 0, 0, 0.815);
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.pokemon__name {
  width: 60px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.623);
  position: absolute;
  color: white;
  letter-spacing: 0.7rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 2rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.pokemon__img--container {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h1 {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding: 0.3rem 0.5rem;
}
.pokemon__data--container {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 0.1rem;
}
.pokemon__types--container,
.pokemon__abilities--container,
h1 {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
}

p,
.pokemon__types--container,
.pokemon__abilities--container {
  font-size: 0.6rem;
  padding: 0.3rem 0.5rem;
  color: rgb(0, 139, 194);
}
.pokemon__types--container p,
.pokemon__abilities--container p {
  color: white;
}

.pokemon__img--container img {
  margin: 50px 10px;
  width: 240px;
  height: 240px;
}
.pokemon__img--container img:hover {
  transition: all 0.6s ease-out;
  transform: scale(1.1);
}
.pokemon__id {
  width: 120px;
  height: 60px;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 6px 0px 20px 2px rgba(0, 0, 0, 0.37);

  margin-top: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
button,
input {
  font-family: "Press Start 2P", cursive;
  font-size: 0.7rem;
}
.pokemon__search {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.219);
}
.pokemon__search--btn {
  cursor: pointer;
}
button:hover {
  background-color: rgba(112, 255, 55, 0.384);
}
.pokemon__return,
.pokemon__search--btn,
#pokemon__input {
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  text-align: center;
  margin: 0 0.4rem;
  box-shadow: 6px 0px 15px 2px rgba(0, 0, 0, 0.37);
}
.none {
  display: none;
}

.pokemon__container--img {
  width: 150px;
  height: 150px;
}
.pokemon__return {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.pokemon__return img {
  width: 20px;
  height: 20px;
}
/* ////////////////////////////////// */

/* ////////////////////////////////// */
.pokemon__stats {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.8rem 0.2rem;
}
.pokemon__hp,
.pokemon__dmg,
.pokemon__def {
  margin-left: 0.7rem;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  color: black;
  box-shadow: 6px 0px 15px 2px rgba(77, 77, 77, 0.37);
}
.pokemon__hp {
  background: linear-gradient(
    286deg,
    rgba(75, 255, 131, 1) 0%,
    rgba(0, 255, 51, 1) 30%,
    rgba(18, 115, 0, 1) 85%
  );
}
.pokemon__dmg {
  background: linear-gradient(
    309deg,
    rgba(255, 124, 0, 1) 11%,
    rgba(255, 0, 0, 1) 34%,
    rgba(255, 194, 132, 1) 100%
  );
}
.pokemon__def {
  background: linear-gradient(
    309deg,
    rgba(0, 39, 255, 1) 11%,
    rgba(0, 65, 94, 1) 34%,
    rgba(169, 132, 255, 1) 100%
  );
}

.box2 {
  width: 90%;
}
/* ---------------------> footer */
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.219);
}
.footer__text {
  font-size: 0.5rem;
  color: black;
}
.footer__year {
  font-size: 0.6rem;
  padding: 0.5rem 0;
  color: black;
}
/* ---------------------> end footer */
.notFound {
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}
.notFound img {
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .pokemon__figure {
    max-width: 360px;
    margin: 20px auto;
  }
  .pokemon__search {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0);
  }
  .notFound {
    width: 550px;
    height: 100%;
    object-fit: cover;
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
}
